@model IEnumerable<Final_Project.Models.DataProductos>

<h1>Carrito de Compras</h1>

<br />
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)  @{ int Contador = item.Precio; ViewData["Contador"] = Contador; }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-primary">Comprar</button>  </a>
            </td>
            <td>
            </td>
        </tr>

        }
    </tbody>
</table>



