@model IEnumerable<Final_Project.Models.DataProductos>
<!-- Material Design Lite -->
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-orange.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/Style.css" />


<nav class="navbar navbar-light bg-light">
    <form class="form-inline" asp-action="Catalogo" asp-controller="Productos">
        <select class="form-control mr-sm-2" name="SearchString">
            <option value="Telefonos">Telefonos</option>
            <option value="Computadoras">Computadoras</option>
            <option value="Tablets"> Tablets</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>
<hr />

<body style="overflow-x:hidden">

    <table>
        <tr>
            <td>
                @foreach (var item in Model)
                    {

                        <div class="mdl-card mdl-shadow--2dp demo-card-square">
                            <div class="mdl-card__title mdl-card--expand">
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <img width="235px" height="230px" alt="250px" src="@Url.Action("RenderImage","Productos", new { id = item.Id})" />
                                </a>
                            </div>
                            <div class="mdl-card__supporting-text">
                                @Html.DisplayFor(m => item.Nombre) <br /><strong>@Html.DisplayFor(m => item.Precio)$</strong>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a asp-action="Details" asp-route-id="@item.Id" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    Detalles
                                </a>

                            </div>
                        </div>



                    }
                </td>
                            </tr>
                        </table>
                    </body>

